body {
    font-family: "Raleway", sans-serif;
    color: white;
    min-height: 100vh;
    background-image: url(../img/alt-background.jpg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.background-mask{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
    padding: 20px 0;
}




@media screen and (min-width: 768px) {
    body{
        font-family: 'poppins';
    }
    
    .background-mask{
        background: rgba(0, 0, 0, 0.6);
        min-height: 100vh;
    }
    
}




