@import url(../css/animations.css);
@import url(../css/header.css);
@import url(../css/projects.css);
@import url(../css/mobile.css);

:root {
    --primary-color: rgb(14, 53, 66);
    --secondary-color: rgb(102, 136, 133);
    --shadow-color: rgb(180, 208, 199);
    --text-color1: rgb(10, 46, 56);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


